body {
  padding: 1rem;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: black;
}
a:hover {
  color: red;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: red;
  margin: 0;
  flex: 1;
}

header nav {
  display: flex;
  gap: 0.5rem;
}

header nav a {
  color: white;
  text-decoration: none;
  color: rgb(160, 159, 159);
}

.user-panel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  justify-content: flex-end;
}

.buyutec {
  margin-left: -2rem;
  color: black;
}

.zil {
  margin: 0 0 0 0.5rem;
}

.user-panel img {
  border-radius: 100px;
  width: 2.5rem;
}

.user-panel input {
  padding: 0.3rem 1.8rem 0.3rem 0.3rem;
  width: 7rem;
}

.hamburger {
  display: none;
}

/* hero */

main {
  aspect-ratio: 5/3;
  border: 1px solid white;
  margin: 2rem auto;

  display: flex;
  align-items: center;
}

video {
  width: 100%;
  object-position: center;
  object-fit: cover;
  height: 100%;
}

.puan i {
  color: red;
}

.yas {
  border: 1px solid white;
  border-radius: 0.3rem;
  padding: 0.2rem;
  margin: 0 0.5rem;
}

.giristeki-kutu {
  position: absolute;
  margin-bottom: 1.3rem;
  padding: 1rem;
}

.film-hakkinda span {
  color: red;
  font-weight: bold;
}

.film-hakkinda p {
  margin: 0.5rem 0;
}

button {
  background: red;
  border: 0;
  color: white;
  padding: 0.6rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

button i {
  margin-left: -1rem;
  margin-right: 0.5rem;
}

/*section */
.ilk-liste .film-listesi {
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
}

.ikinci-liste .film-listesi {
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
}

.ilk-liste {
  margin-bottom: 2rem;
}

.liste-bilgi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.liste-bilgi a {
  text-decoration: none;
  color: rgb(160, 159, 159);
}

.liste-bilgi a:hover {
  color: red;
}

.liste-bilgi h3 {
  margin: 0.5rem 0;
}

.film-listesi {
  display: flex;
  gap: 1.5rem;
}

.film-kutusu {
  border: 1px solid white;
  min-width: 250px;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.film-bilgi-kutusu {
  padding: 2rem 1rem;
}

.film1 {
  background-image: url(https://picsum.photos/300);
  background-size: 300px;
  width: 300px;
  border-radius: 8px;
}
.film2 {
  background-image: url(https://picsum.photos/30);
  background-size: 300px;
  width: 300px;
  border-radius: 8px;
}
.film3 {
  background-image: url(https://picsum.photos/3);
  background-size: 300px;
  width: 300px;
  border-radius: 8px;
}
.film4 {
  background-image: url(https://picsum.photos/2);
  background-size: 300px;
  width: 300px;
  border-radius: 8px;
}
.film5 {
  background-image: url(https://picsum.photos/7);
  background-size: 300px;
  width: 300px;
  border-radius: 8px;
}
.film6 {
  background-image: url(https://picsum.photos/11357);
  background-size: 300px;
  width: 300px;
  border-radius: 8px;
}
.film7 {
  background-image: url(https://picsum.photos/1155);
  background-size: 300px;
  width: 300px;
  border-radius: 8px;
}
.film8 {
  background-image: url(https://picsum.photos/11);
  background-size: 300px;
  width: 300px;
  border-radius: 8px;
}
.film9 {
  background-image: url(https://picsum.photos/113);
  background-size: 300px;
  width: 300px;
  border-radius: 8px;
}
.film10 {
  background-image: url(https://picsum.photos/115);
  background-size: 300px;
  width: 300px;
  border-radius: 8px;
}
.film11 {
  background-image: url(https://picsum.photos/105);
  background-size: 300px;
  width: 300px;
  border-radius: 8px;
}
.film12 {
  background-image: url(https://picsum.photos/84);
  background-size: 300px;
  width: 300px;
  border-radius: 8px;
}
.film13 {
  background-image: url(https://picsum.photos/98);
  background-size: 300px;
  width: 300px;
  border-radius: 8px;
}
.film14 {
  background-image: url(https://picsum.photos/14);
  background-size: 300px;
  width: 300px;
  border-radius: 8px;
}
.film-bilgi-kutusu h4 {
  margin: 0;
}

.film-kutusu .yas {
  margin-left: 0;
}

.film-bilgi-kutusu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.film-kutusu button {
  padding: 0.5rem 1.8rem;
  border-radius: 0.4rem;
  font-size: 1rem;
}

.film-kutusu button i {
  margin-left: -0.8rem;
  margin-right: 0.3rem;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

footer h5 {
  margin-top: 1.5 rem;
}

footer nav {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

footer nav a {
  color: white;
  text-decoration: none;
}

.social-logo img {
  width: 25px;
  height: 20px;
}

.social-logo .youtube {
  width: 30px;
  height: 20px;
}
.social-logo i {
  font-size: 22px;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
}

.uygulamalar img {
  width: 65px;
  height: 25px;
}

.uygulamalar {
  min-width: 149px;
}

.social-logo {
  min-width: 96px;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
  header nav {
    order: 1;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }

  .user-panel {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .giristeki-kutu {
    object-position: center;
    object-fit: cover;
  }

  footer {
    flex-wrap: wrap;
  }

  .social,
  .uygulamalar {
    width: 100%;
    text-align: center;
  }
  footer nav {
    justify-content: center;
  }
  main {
    aspect-ratio: auto;
    font-size: 14px;
  }
  button {
    background: red;
    border: 0;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
  }
  button i {
    margin-left: -0.3rem;
    margin-right: 0.5rem;
  }
  .puan i {
    font-size: 9px;
  }

  .yas {
    font-size: 9px;
  }

  .giristeki-kutu h2 {
    font-size: 11px;
  }

  .giristeki-kutu p {
    font-size: 9px;
  }

  .rating {
    font-size: 9px;
  }

  .sure {
    font-size: 9px;
  }
}
